<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>We are glad to inform you that your organization was approved.</p>
    <p>Best regards,<br> Midas Pool</p>


    <p>Привет {{ name }},</p>
    <p>Мы рады сообщенить что ваша организация была одобрена.</p>
    <p>С наилучшими пожеланиями,<br> Midas Pool</p>


    <p>Сәлем {{ name }},</p>
    <p>Сіздің ұйымыңыз мақұлданғаны жайлы қуана хабарлаймыз.</p>
    <p>Ізгі ниетпен,<br> Midas Pool</p>
</body>
</html>
