<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
<p>Hello {{ name }},</p>
<p>Thank you for using MidasPool. Here's your personalized message:</p>
<p>{{ message }}</p>
<p>Your confirmation code: {{ code }}</p>
<p>Best regards,<br> Midas Pool</p>
</body>
</html>