<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>We noticed your MidasPool account was accessed from {{ url }}</p>
    <p>{{ message }}</p>
    <p>Best regards,<br> Midas Pool</p>
</body>
</html>
